/* @font-face {
	font-family: 'PublicSans';
	src: local('PublicSans'),
		url('PublicSans-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'PublicSans';
	src: local('PublicSans'),
		url('PublicSans-Medium.ttf') format('ttf');
	font-weight: 500;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'PublicSans';
	src: local('PublicSans'),
		url('PublicSans-SemiBold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'PublicSans';
	src: local('PublicSans'),
		url('PublicSans-Bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
	font-display: auto;
}

@font-face {
	font-family: 'Staatliches';
	src: local('Staatliches-Regular'),
		url('Staatliches-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
	font-display: auto;
} */